extends links
block content
	div(class='create')
		h1 Create Notice
		form#createnotice(name='createnotice',method='post',action='/addNotice')
			textarea#notice(name='notice',type='text', placeholder='Type youe Notice here.', required='required')
			br
			input(type='submit', value='Post Notice')