html
body
	extends links
	block content
		br
		a(href='./signout') SignOut
		br
		h1 Create Notice
		form#createnotice(name='createnotice',method='post',action='/addNotice')
			label(for='notice') Notice 
			br
			textarea#notice(name='notice',type='text', placeholder='Your notice', required='required')
			br
			input(type='submit', value='Post Notice')