extends links
block content
	div(class='home')
		h1 Notice Board
		-if(Object.keys(notices)>0)
		-each val in notices
			div(class='inner')
				p #{val.name}
				br
				textarea#val(disabled='disabled') #{val.notice}
				br