html
body
	h1 Login
	form(name='login', method='post', action='/home')
		label(for='email') Email:
		br
		input#email(type='text', placeholder='email-id', required='required')
		br
		label(for='password') Password:
		br
		input#password(type='password', placeholder='Enter password', required='required')
		br
		input(type='submit', value='Login')