extends layout
block content
	div(class='login')
		h1 Login
		hr
		form(name='login', method='post', action='/authentication')
			p Email
			input(name='email',type='text', placeholder='email', required='required')
			br
			br
			p Password
			input(name='password',type='password', placeholder='password', required='required')
			br
			br
			input#button(name='button',type='submit', value='Login')